{
    "bracketSpacing": true,
    "semi": false,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 70,
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "arrowParens": "avoid"
}