@import '../common/styles/mixins';

.nodeContent {
    @include lines;

    display: flex;
    align-items: center;

    padding-left: 0.7rem;
    justify-content: space-between;
    height: 1.25rem;
    position: relative;

    > :not(:last-child) {
        margin-right: 0.35rem;
    }

    .nodeVisible {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        > :not(:last-child) {
            margin-right: 0.35rem;
        }
    }

    .nodeBody {
        margin: 0;
        font-size: 0.65rem;
        font-weight: 500;
        font-family: 'Fira Code';
        text-transform: lowercase;
    }

    .toggleCheck {
        display: flex;
        align-items: center;
        background: #ffde7f;
        background: #f0f0f00d;
        border-radius: 50%;
        padding: 1px;
    }
    
    svg {
        fill: #fff;
        width: 1rem;
        height: 1rem;
    }

    $checkSize: 0.65rem;

    .svgCheck {
        fill: #000;
        width: $checkSize;
        height: $checkSize;
        opacity: 0;
    }    
}