@import '../common/styles/mixins';

.nodeContent {
    @include lines;

    display: flex;
    align-items: center;

    padding-left: 0.7rem;
    justify-content: space-between;
    height: 1.25rem;
    position: relative;

    > :not(:last-child) {
        margin-right: 0.35rem;
    }

    .nodeVisible {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        > :not(:last-child) {
            margin-right: 0.35rem;
        }
    }

    .nodeBody {
        margin: 0;
        font-size: 0.65rem;
        font-weight: 500;
        font-family: 'Fira Code';
        text-transform: lowercase;
    }

    %toggleCheckedSpan {
        display: flex;
        align-items: center;
        border-radius: 50%;
        border-radius: 1px;
        padding: 1px;
        padding: 0;
        cursor: pointer;
    }

    .toggleIsChecked {
        @extend %toggleCheckedSpan;
        background: #ffde7f;
        
        &:active {
            opacity: 0.8;
        }
    }

    .toggleIsUnchecked {
        @extend %toggleCheckedSpan;
        background: #f0f0f012;
        
        &:hover {
            background: #f0f0f02c;
        }
    }
    
    svg {
        fill: #fff;
        width: 1rem;
        height: 1rem;
    }

    $checkSize: 0.65rem;

    %svgCheckedStyle {
        width: $checkSize;
        height: $checkSize;
        pointer-events: none;
    }
    
    .svgCheckedVisible {
        @extend %svgCheckedStyle;
        opacity: 1;
        fill: #000;
    }
    
    .svgCheckedHidden {
        @extend %svgCheckedStyle;
        opacity: 0;
    }
}