@import '../common/styles/mixins';

.nodeContent {
    @include lines; /* move to placeholders */

    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    justify-content: space-between;
    height: 1.25rem;
    position: relative;

    > :not(:last-child) {
        margin-right: 0.35rem;
    }

    .nodeVisible {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        > :not(:last-child) {
            margin-right: 0.25rem;
        }
    }

    .nodeBody {
        margin: 0;
        font-size: 0.7rem;
        font-weight: 500;
        font-family: 'Fira Code';
        line-height: 0.7rem;
        background: none;
        color: #fff;
        border: 0;
        padding: 2px 4px;

        &:focus {
            box-shadow: 0px 0px 0px 1px inset #ffffff1a;
        }
    }
}

/* SVG Check */

svg {
    fill: #fff;
    width: 1rem;
    height: 1rem;
}

%svgCheckedStyle {
    width: 0.75rem;
    height: 0.7rem;
    pointer-events: none;
}

.svgCheckedVisible {
    @extend %svgCheckedStyle;
    opacity: 1;
    fill: #000;
}

.svgCheckedHidden {
    @extend %svgCheckedStyle;
    opacity: 0;
}

/* Toggle Box */

%toggleCheckedSpan {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border-radius: 1px;
    padding: 1px;
    padding: 0;
    cursor: pointer;
}

.toggleIsChecked {
    @extend %toggleCheckedSpan;
    background: #ffde7f;
    
    &:active {
        opacity: 0.8;
    }
}

.toggleIsUnchecked {
    @extend %toggleCheckedSpan;
    background: #ffffff29;
    
    &:hover {
        background: #ffffff42;
    }
}