.framesContainer {
    display: none;
    // visibility: hidden;
    overflow: hidden;
    position: relative;
    height: 100%;
    position: absolute;
    padding: 0.5rem;
    right: 0;
    left: 0;
}

.activeFrames {
    // visibility: visible;
    display: flex;
}