@import '../common/styles/mixins';

.nodeAddNew {
    @include lines;

    display: grid;
    align-items: center;
    position: relative;
    height: 1.25rem;

    $svgAddOutline: 0.95rem;

    svg {
        fill: #fff;
        width: $svgAddOutline;
        height: $svgAddOutline;
    }

    .svgPlusOutline {
        margin-left: 0.6rem;
        fill: #ffffff26;
    }
}