@import '../common/styles/mixins';

.nodeAddNew {
    @include lines;

    display: flex;
    align-items: center;
    position: relative;
    height: 1.25rem;
    padding-left: 0.55rem;

    $svgAddOutline: 0.95rem;

    svg {
        fill: #fff;
        width: $svgAddOutline;
        height: $svgAddOutline;
    }

    .svgPlusOutline {
        fill: #ffffff26;
    }
}