.node {    
    display: grid;
    align-items: center;
    position: relative;

    &.nodeCollapsed {
        ul {
            display: none;
        }

        .collapseBtn {
            svg {
                fill: #fff;
            }
        }
    }
}