@import '../common/styles/mixins';
@import '../common/styles/placeholders';

.workspaceUserContainer {
    @include fxc;

    align-items: stretch;
    justify-content: flex-end;
    min-width: max-content;
}

.userDropdown {
    display: flex;
    color: #fff;
    font-weight: 600;
    font-size: 0.7rem;
    margin-right: 1rem;

    .userAvatarMask {
        display: flex;
        overflow: hidden;
        border-radius: 50%;
        justify-content: center;
    }
    
    .svgAvatarDefault {
        position: relative;
        $svg-size: 1.5rem;
        fill: #fff;
        border-radius: 50%;
        width: $svg-size;
        height: $svg-size;
        margin-right: 0.5rem;
    }

    .svgMenuDown {
        $svgMenuDown: 1.2rem;
    
        width: $svgMenuDown;
        height: $svgMenuDown;
        fill: #fff;
    }
}

.toggleContent {
    @extend %dropdown-content;

    :last-child {
        margin-right: 0.25rem;
    }
}

.dropdownItems {
    @extend %dropdown-items;
    
    top: 100%;
    width: 100%;
    background:#fff;
    right: 0;
    padding: 0.35rem 0;
}

.dropdownItem {
    @extend %dropdown-item;

    padding: 0.35rem 1.2rem;
    color: #333;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;

    &:hover {
        background: #f7f7f7;
    }
}