@mixin fxc {
    display: flex;
    align-items: center;

    > * {
        display: flex;
        align-items: center;
    }
}

@mixin lines {
    &:before {
        content: '';
        width: 0.35rem;
        height: 100vh;
        left: 0rem;
        bottom: 50%;
        border: 1px solid #292929;
        border-top: 0;
        border-right: 0;
        position: absolute;
    }
}

@mixin skeleton($bg, $time) {
    position: relative;
    
    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $bg;
        animation: loading $time linear infinite alternate both;
    }    
    
    @keyframes loading {
        0% {
            opacity: 1;
        }
        
        20% {
            opacity: 0.8;
        }
    
        40% {
            opacity: 0.6;
        }
        
        50% {
            opacity: 0.5;
        }
    
        60% {
            opacity: 0.6;
        }
        
        80% {
            opacity: 0.8;
        }
    
        100% {
            opacity: 1;
        }
    }
}