@import '../../common/styles/button';

@mixin b($width, $color) {
    > * {
        border: $width solid $color;
    }
}

.sidebarContainer {
    background: #2E303B;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: max-content auto;
}

$svg-size: 1.5rem;

.svgContainer {
    padding: 0.6rem 0.65rem 0.6rem 0.6rem;
    display: flex;
    align-items: center;

    &:hover {
        background: #ffffff17;
    }

    svg {
        fill: #868686;
        width: $svg-size;
        height: $svg-size;

    }
}

.sidebarMenu {
    height: 36px;
    background: #FD9437;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: #fff;
    }
}

.sidebarTools {
    display: grid;
    align-content: space-between;
    
}

.sidebarPrimary,
.sidebarSecondary {
    display: grid;
    justify-content: center;
}
