@import '../common/styles/mixins';

.tabGroupContainer {
    display: flex;

    .tabGroup {
        @include fxc;

        background: #4f4f4f;
    }

    .tabControls {
        display: flex;
        align-items: center;

        svg {
            $svgSize: 1.15rem;

            fill: #fff;
            width: $svgSize;
            height: $svgSize;
        }
    }

    font-size: 0.7rem;
}