@import '../../common/styles/placeholders';

.headerContainer {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto 1fr;
    background: #3D3D3D;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    z-index: 30;
    height: 36px;
}

.optionsMenu {
    background: #2e303b;
}

.toggleBtn {
    @extend %dropdown-toggle;
    
    svg {
        fill: #fff;
        width: 1.2rem;
        margin: 0 0.15rem;
    }

    span {
        display: none;
    }
}

.dropdownItems {
    @extend %dropdown-items;

    top: 100%;
    left: 0;
    background: #2e303b;
    padding: 0.5rem 0;
}

.dropdownItem {
    @extend %dropdown-item;
    
    padding: 0.35rem 1.2rem;
    color: #fff;
    margin: 0;
    font-size: 0.7rem;
    font-weight: 600;

    &:hover {
        background: #353844;
    }
}