.frameContent {
    min-height: 240px;
    margin: 0.5rem;
    margin-top: 0;
    color: #fff;
    background: #15161A;
    border-radius: 2px;
    overflow-y: auto;
    padding: 0.75rem 0.75rem 0.75rem 0;
}