.workspaceContainer {
    height: 100vh;
    display: grid;
    grid-template:
        "sidebar header" max-content
        "sidebar panel" 1fr
        / max-content auto;
    background: #1B1B1B;
    background: #DBDBDB;
    font-family: Roboto, sans-serif;
}

