.dropdownMenu {
    border: 1px solid #2b2a2a;
    border-radius: 3px;
    display: grid;
    position: absolute;
    top: 1.8rem;
    right: 0;
    width: 100%;
    background: #000;
    list-style-type: none;
    padding: 0.25rem 0;
    box-shadow: 0 2px 3px -1px #000a;
}