.pageHeader {
    display: flex;
    padding: 0.75rem 1rem;
    background: #F0F0F0;

    > * {
        display: flex;
        align-items: center;
        flex: 1 1 0;
    }
}

%header-links {
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
}

.signOutButton {
    @extend %header-links;

    background: none;
    color: #202020;
    border: 0;
    border-radius: 2px;
    padding: 0.5rem;
    cursor: pointer;
}

.menuPrimary {
    justify-content: center;

    a {
        @extend %header-links;
        color: #202020;

        &:not(:last-child) {
            margin-right: 0.75rem;
        }
    }

    .menus {
        list-style-type: none;
        display: flex;
    }
}

.userButtons {
    display: flex;
    justify-content: flex-end;

    a {
        @extend %header-links;
        padding: 0.5rem 0;
        text-transform: capitalize;

        &:not(:last-child) {
            margin-right: 0.25rem;
        }
    }
    
    .userBtn {
        border-radius: 2px;
        padding: 0.35rem 0.65rem 0.4rem 0.65rem;
    }
    
    .signIn {
        text-transform: capitalize;
    }

    .signUp {
        background: #9746FF;
        color: #fff;
    }
}