.frame {
    display: grid;
    grid-template-rows: max-content 1fr;
    align-self: flex-start;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px 1px #0005;
    min-width: 360px;
    max-height: 100%;
    position: static;
}