@import '../common/styles/mixins';

.nodeToolbar {
    @include fxc;

    right: 0;
    top: 0;
    height: 100%;
    // display: none;
    // border: 1px solid red;

    > * :not(:first-child) {
        margin-left: 0.35rem;
    }   
}

.nodeToolsDefault {
    position: relative;

    $def: 0.75rem;

    .nodeGear {
        width: $def;
        height: $def;
    }
    
    .nodeMax {
        width: $def;
        height: $def;
    }
    
    .nodeDelete {
        $del: 1rem;

        width: $del;
        height: $del;
    }
    
    .nodeCopy {   
        width: 0.75rem;
    }
    
    .nodeAppendChild {
        width: 0.9rem;
    }

    .nodeAppendSibling {
        width: 1.1rem;
        height: 1.1rem;
    }
    
    .nodeToolsExpanded {
        display: flex;
        position: absolute;
        background: #202124;
        left: -4.75rem;
        padding: 0 0.2rem 0 0.3rem;
    }
}