.buttonContainer {
    display: flex;
    align-items: center;
    border: 1px solid red;
    border: 0;
    border-radius: 50%;
    background: none;
    padding: 0.3rem 0.4rem;
    cursor: pointer;

    &.noPadding {
        padding: 0;
    }

    &:focus {
        outline: 0;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}