$nodeGap: 0rem;
$vLineOffset: 0rem;

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: $nodeGap;
    padding-top: $vLineOffset;
    margin-top: -#{$vLineOffset};
    overflow: hidden;

    &[data-is-collapsed="true"] {
        display: none;
    }
    
    &.root {
        position: static;
    }
    
    li {
        display: grid;
        gap: $nodeGap;
        margin-left: 1.75rem;
    }
}

.collapseBtn {
    position: absolute;
    top: 0;
    left: -1.4rem;
    padding: 0;

    $collapseSvg: 1.2rem;
    
    svg {
        width: $collapseSvg;
        height: $collapseSvg;
        fill: #ffffff3b;
        
        &:hover {
            fill: #ffffff6e;
        }
    }
}