$nodeGap: 0.4rem;
$vLineOffset: 0.3rem;
$toggleOffset: 2rem;

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: $nodeGap;
    padding-top: $vLineOffset;
    margin-top: -#{$vLineOffset};
    overflow: hidden;
}

.root {
    padding: 0.4rem 0.8rem;
}