@import '../common/styles/mixins';

$border-color: #404040;
$header-gap: 0.75rem;

.workspaceControls {
    @include fxc;

    font-size: 0.7rem;
    font-weight: 600;

    > *:not(:last-child) {
        margin-right: $header-gap;
    }

    > *:not(.workspaceUnsavedHint) {
        border: 1px solid $border-color;
        border-radius: 2px;
        height: 1.7rem;
    }

    .workspaceUnsavedHint {
        color: #666;
        display: none;
    }
    
    svg {
        fill: #fff;
    }
}

.workspaceCtrlSelect {
    @include fxc;

    .workspaceAdd {
        border-left: 1px solid $border-color;
        height: 100%;
    }
}

.workspaceCtrlToolbar {
    @include fxc;

    padding: 0 0.1rem;
    
    > * {
        padding: 0.2rem 0.3rem;
    }

    
    svg {
        $svgToolbar: 1rem;
        width: $svgToolbar;
        height: $svgToolbar;
    }
}